<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thfw.robotheart.push">


    <uses-permission android:name="android.permission.INTERNET" /> <!-- wifi权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- wifi权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- wifi权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- wifi权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 设置时区 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.thfw.robotheart.push" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiHeart">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.thfw.robotheart.push.PushService"
            android:enabled="true"
            android:exported="true"
            android:process=":channel"></service>

        <service
            android:name=".MyCustomMessageService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <!-- VIVO厂商通道 start -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="1b5ce9f6-8304-4afc-b739-0e07fb22775e" /> <!-- android:value="此处改为VIVO后台真实参数" /> -->
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="17979" /> <!-- android:value="此处改为VIVO后台真实参数" /> -->
        <!-- VIVO厂商通道 end -->
        <!-- HUAWEI厂商通道 start -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100429257" /> <!-- android:value="appid=此处改为HUAWEI后台真实参数" /> -->
        <!-- HUAWEI厂商通道 end -->
        <!-- 厂商通道 Android 12 兼容 Start -->
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:exported="true" />
        <service
            android:name="com.heytap.msp.push.service.CompatibleDataMessageCallbackService"
            android:exported="true" />

        <receiver
            android:name="org.android.agoo.vivo.PushMessageReceiverImpl"
            android:exported="true" />


    </application>

</manifest>