<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thfw.robotheart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.test.TestIngActivity"></activity>
        <activity android:name=".activitys.test.TestDetailActivity" />
        <activity android:name=".activitys.me.SelectOrganizationActivity" />
        <activity android:name=".activitys.me.PrivateSetActivity" />
        <activity android:name=".activitys.me.InfoActivity" />
        <activity android:name=".activitys.login.SetPasswordActivity" />
        <activity android:name=".activitys.me.AccountManagerActivity" />
        <activity android:name=".activitys.exercise.ExerciseIngActivity" />
        <activity android:name=".activitys.exercise.ExerciseDetailsActivity" />
        <activity android:name=".activitys.exercise.ExerciseActivity" />
        <activity android:name=".activitys.video.VideoPlayerActivity" />
        <activity android:name=".activitys.video.VideoHomeActivity" />
        <activity android:name=".activitys.audio.AudioHomeActivity" />
        <activity android:name=".activitys.test.TestActivity" />
        <activity android:name=".activitys.login.LoginActivity" />
        <activity android:name=".activitys.me.SettingActivity" />
        <activity android:name=".activitys.me.MeActivity" />
        <activity android:name=".activitys.audio.AudioPlayerActivity" />
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>