<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thfw.mobileheart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name="com.thfw.mobileheart.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.test.TestReportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.read.BookDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.read.BookIdeoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.test.TestResultWebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.thfw.mobileheart.activity.robot.RobotDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.robot.RobotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.me.MeTestHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.me.MeHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.test.TestBeginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.exercise.ExerciseIngActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.read.ReadDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.me.HotPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.me.AssessReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.MeAskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.BindMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.AccountSafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.MeWillHelpBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.HelpHintsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.HelpBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.audio.AudioEtcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.exercise.ExerciseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.me.CollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.integral.ClockInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.test.TestProgressIngActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.thfw.mobileheart.activity.heartbox.MeHeartBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.heartbox.HeartBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.settings.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.read.StudyHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.read.ReadHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.video.VideoHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.audio.AudioHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.exercise.ExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.test.TestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.read.ReadEtcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.audio.AudioPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimActivity" />
        <activity
            android:name="com.thfw.mobileheart.activity.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.video.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.talk.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thfw.mobileheart.activity.talk.AskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thfw.mobileheart.activity.ExoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thfw.mobileheart.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thfw.mobileheart.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.thfw.mobileheart.activity.AudioSuspendActivity" />

        <service android:name="com.thfw.base.net.download.DownLoadIntentService">
            <intent-filter>
                <action android:name="com.thfw.base.net.download.DownLoadIntentService" />
            </intent-filter>
        </service>
        <service android:name="com.thfw.mobileheart.AudioService" />
    </application>

</manifest>